@using System.Web.UI.WebControls
@using WebSample.ReadModel
@{
    ViewBag.Title = "Home Page";
    string value = "toto";
}

<div>
    <br />
    @using (Html.BeginForm("AddAdress", "Home"))
{
    <input type="text" name="adress">
    <input type="submit" name="submit" />
    }
    
</div>

<div>
    UserView Adresses : <br />
    @foreach (var address in UserView.Adresses)
    {
        <div><b>@address</b></div>
    }
</div>

<div>
    AdressView Adresses : <br />
    @foreach (var address in AdressView.Adresses)
    {
        <div><b>@address</b></div>
    }
</div>
